<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eat safe in NYC! Search thousands of NYC restuarant health code violations. Discover top restaurants in Manhattan from Chelsea to midtown. Don't get sick and spend your vacation in your NYC hotel. Find out which restaurants are the best restaurants.">
    <meta name="author" content="Justin Iso">

    <meta property="og:title" content="Eat Safe NYC" />
    <meta property="og:description" content="Restaurant health code violations in emoji" />
    <meta property="og:url" content="http://www.eatsafenyc.com" />
    <meta property="og:image" content="http://www.eatsafenyc.com/static/img/broccoli.jpg" />

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

    <!-- React and logic -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/searchComponent.js"></script>
    {{>head}}
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Eat Safe NYC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Eat Safe NYC</h1>
                <hr>
                <p>
                    <div data-render-search="1">Unfortunately search is offline right now. It should be available later. Sorry about that!</div>
                </p>
                <h2>Search thousands of New York restaurants for grades and health code violations</h2>
                <p>Food poisoning is no joke! Search the name of a restaurant to see all of its health code violations. Cockroaches? Undercooked chicken? Don't find out the hard way.</p>
                <div class="ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- eatsafe main ad -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7920130667966969"
                         data-ad-slot="7786217931"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </header>
    <section id="about">
        <h2 class="text-center">About Restaurant Grading</h2>
        <br>
        <hr class="primary">
        <div class="row">
            <div class="container col-lg-8 col-lg-offset-2">
                <h3 class="text-center">How grading works</h3>
                <br>
                <p>
                    The New York City Health Department inspects about 24,000 restaurants a year to monitor compliance with City and State food safety regulations. During an inspection, the inspector will make note of any health violations, which are associated with a certain number of points. The more violations, the higher the score, and the lower the grade.

                    <table class="table text-center">
                        <thead>
                            <tr>
                                <td>Grade</td>
                                <td>Point Range</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>A</strong></td>
                                <td>0 - 13 points</td>
                            </tr>
                            <tr>
                                <td><strong>B</strong></td>
                                <td>14 - 27 points</td>
                            </tr>
                            <tr>
                                <td><strong>C</strong></td>
                                <td>28 or more points</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </p>
            </div>
        </div>
        <br>
        <hr class="primary">
        <div class="row">
            <div class="container col-lg-8 col-lg-offset-2">
                <h3 class="text-center">How points work</h3>
                <br>
                <p>

                    The points for a particular violation depend on the health risk it poses to the public. Violations fall into three categories and carry a minimum number of points the inspector will give for each violation: 
                </p>
                <p>
                    <table class="table">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td><strong>Public Health Hazard</strong></td>
                                <td>7 point min.</td>
                                <td>e.g. Failing to keep food at the proper temperature.</td>
                            </tr>
                            <tr>
                                <td><strong>Critical Violation</strong></td>
                                <td>5 point min.</td>
                                <td>e.g. Serving raw food such as a salad without properly washing it first.</td>
                            </tr>
                            <tr>
                                <td><strong>General Violation</strong></td>
                                <td>2 point min.</td>
                                <td>e.g. Not properly sanitizing cooking utensils.</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </p>
            </div>
        </div>
        <br>
        <hr class="primary">
        <div class="row">
            <div class="container col-lg-8 col-lg-offset-2">
                <h3 class="text-center">How a score is converted into a grade</h3>
                <br>
                <p>
                    Two types of inspections result in a letter grade: initial inspections for which the restaurant earns an A and reinspections that result in an A, B or C. A restaurant has two chances to earn an A in every inspection cycle. If it doesn’t earn an A on the first inspection, it’s scored but ungraded. An inspector goes back to the restaurant unannounced, typically within a month, to inspect it again and the re-inspection is graded. If the grade is a B or C, the restaurant will receive a grade card and a grade pending card. It can post either card until it has an opportunity to be heard at the Office of Administrative Trials and Hearings Health Tribunal. Until a restaurant has a graded inspection, it is listed as Not Yet Graded on the Health Department website. 
                </p>
            </div>
        </div>
        
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading">Contact Me</h3>
                    <hr class="primary">
                    <p><a href="http://justiniso.com">justiniso.com</a></p>
                    <p>Eat Safe NYC is a project by Justin Iso</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Photo Credit: <a href="http://www.flickr.com/photos/11076844@N00/2006174685">hansthijs</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="credits">
        <div class="container">
            
        </div>
    </section>

    <!-- Preload the spinner -->
    <img src="/static/img/spinner.svg" alt="Loading..." style="display: none">

    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67241599-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>