header:before {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    transition: all 1s;
    -webkit-transition: all 1s;
}


/** SEARCH **/

.main-search .searchbox-container {
    color: #333;
}

.main-search input[type="text"] {
    min-height: 3em;
    padding: 1em;
    width: 100%;
}

.main-search .button-container {
    display: inline-block;
    /* Must match width of input button */
    margin-left: -30px;
}

.main-search .search-submit {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/** SEARCH RESULTS **/

.search-results {
    width: 100%;
}

.search-results li {
    list-style: none;
    text-align: left;
}

.item {

}

.item-sub {

}
    .item-sub .summary {
        width: 100%;
    }

        .restaurant {
            cursor: pointer;
            box-shadow: 0 4px 2px -2px gray;
        }

        .inspections {
            transition: height 1s;
            -webkit-transition: height 1s;
        }

        .inspections.collapsed {
            height: 0;
            overflow: hidden;
        }

            ul.violations {
                margin-left: 0;
                padding-left: 0;
            }

        .grade.media-object {
            font-family: 'Open Sans','Helvetica Neue', sans-serif; 
            font-size: 1.5em; 
            font-weight: bold;
            width: 3em;
            text-align: center;
        }

        .media-heading {
            text-align: left;
        }

.item-sub-contents li {
    list-style: none;
}